.clock-container{
    width:500px;
    height: 500px;
    border: 20px solid black;
    border-radius:50%;
    margin: 0 auto;
    position: relative;
    background-color: black;
}
.point{
    width:20px;
    height: 20px;
    background-color:white;
    border-radius:50%;
    position: absolute;
    top: 240px;
    left:240px;
}
.hour{
    font-size:30px;
    font-weight: bold;
    position: absolute;
    color:red;
    
}
.hour-1{
    top:40px;
    right:130px;
}
.hour-2{
    top:125px;
    right:45px;
}
.hour-3{
    top:235px;
    right:10px;
}
.hour-4{
    top:345px;
    right:45px;
}
.hour-5{
    top:430px;
    right:130px;
}
.hour-6{
    bottom:10px;
    right:240px;
}
.hour-7{
    top:430px;
    left:130px;
}
.hour-8{
    top:345px;
    left:45px;
}
.hour-9{
    top:235px;
    left:10px;
}
.hour-10{
    top:125px;
    left:45px;
}
.hour-11{
    top:40px;
    left:130px;
}
.hour-12{
    top:10px;
    left:235px;
}

.minute-wrapper{
    width:400px;
    height: 400px;
    position:absolute;
    top:50px;
    left:50px;
    border-radius:50%;
    

}
.minute-hand{
    position:relative;
}
.minute-hand .hand{
    width: 4px;
    height: 190px;
    background-color:white;
    position:absolute;
    left:198px;
   

}
.minute-hand .arrow{
    font-size: 30px;
    color: white;
    transform: rotate(180deg);
    position: absolute;
    left:190px;
    top:-14px;

}
.hour-wrapper{
    width:300px;
    height: 300px;
    position:absolute;
    top:100px;
    left:100px;
    border-radius:50%;

}
.hour-hand{
    position:relative;
}
.hour-hand .hand{
    width: 4px;
    height:150px;
    background-color: red;
    position:absolute;
    left:148px;
}
.hour-hand .arrow{
    font-size: 30px;
    color:red;
    transform: rotate(180deg);
    position: absolute;
    left:140px;
    top:-14px;

}

.second-wrapper{
    width:350px;
    height: 350px;
    position:absolute;
    top:75px;
    left:75px;
    border-radius:50%;

}
.second-hand{
    position:relative;
}
.second-hand .hand{
    width: 2px;
    height:180px;
    background-color: white;
    position:absolute;
    left:174px;
}
.wrapper{
    width:405px;
    height: 405px;
    position:absolute;
    top:50px;
    left:50px;
    border-radius:50%;
    background-color: white;
    opacity: .2;
}
.brand{
    font-size:30px;
    font-weight:bold;
    color:white;
    position:absolute;
    top:90px;
    left:40.5%;
}